<!DOCTYPE html>

<html>
<head>
    <base href="~/" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/js/jquery.rotate.1-1.js"></script>
    <link href="~/CSS/site.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="sidebar col-2">
        <div class="top-row pl-4 navbar navbar-dark">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KERNEL Cars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <a class="nav-link" href="">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" asp-controller="Car" asp-action="Index">
                    <span class="oi oi-cog" aria-hidden="true"></span> Автомобили
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link">
                    <span class="oi oi-people" aria-hidden="true"></span> Водители
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link">
                    <span class="oi oi-wrench" aria-hidden="true"></span> ТО
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link">
                    <span class="oi oi-dollar" aria-hidden="true"></span> Аренда
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link">
                    <span class="oi oi-task" aria-hidden="true"></span> Страховка
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link">
                    <span class="oi oi-cart" aria-hidden="true"></span> Продажи
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link">
                    <span class="oi oi-clipboard" aria-hidden="true"></span> Отчёты
                </a>
            </li>
        </ul>
    </div>
    <div class="col-10">
        @RenderBody()
    </div>
</body>
</html>
