@model List<Location>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-hover table-sm">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Размещение</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ID</td>
            <td>@item.LocationName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                @*<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
            </td>
        </tr>
            
        }
    </tbody>
</table>

