<h3>FilteredList</h3>

<select name="Cars" size="5">
    <option value="Merceders"> Merceders </option>
    <option value="BMW"> BMW </option>
    <option value="Jaguar"> Jaguar </option>
    <option value="Lamborghini"> Lamborghini </option>
    <option value="Ferrari"> Ferrari </option>
    <option value="Ford"> Ford </option>
</select>


@code {

}
