<div class="container-fluid no-gutters">
    <div class="row">
        <div class="col">
            @ChildContent
        </div>
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr><th colspan="2" class="text-center">Data Summary</th></tr>
                </thead>
                <tbody>
                    <tr><th>ID</th><td>@CarData?.Id</td></tr>
                    @*<tr><th>Manufacturer</th><td>@CarData?.CarModel.ManufacturerId</td></tr>*@
                    <tr><th>CarModelID</th><td>@CarData?.CarModelId</td></tr>
                    <tr><th>RegNumber</th><td>@CarData?.RegistrationNumber</td></tr>
                    <tr><th>TypeOfFuel</th><td>@CarData?.Fuel</td></tr>
                    @*<tr><th>Firstname</th><td>@PersonData?.Firstname</td></tr>
        <tr><th>Surname</th><td>@PersonData?.Surname</td></tr>
        <tr><th>Dept ID</th><td>@PersonData?.DepartmentId</td></tr>
        <tr><th>Location ID</th><td>@PersonData?.LocationId</td></tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Car CarData { get; set; }
}