
@{
    ViewData["Title"] = "CarYears";
}

<h1>CarYears</h1>

<form enctype="multipart/form-data" asp-action="CarYears" method="post">
    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>