<h1>Work With Data</h1>
    
<form enctype="multipart/form-data" asp-action="UploadFile" method="post">
        <input type="file" name="file" />
        <button type="submit">Upload File</button>
</form>