
@{
    ViewData["Title"] = "ReadKT";
}

<h1>ReadKT</h1>

<form enctype="multipart/form-data" asp-action="ReadKT" method="post">
    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>