@model IEnumerable<KernelCars.Models.Car>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
<div class="row">
    <div class="col-md-4 m-md-2 p-1">
        <input type="search" class="form-control" placeholder="Поиск авто ..." id="searchString" />
    </div>
</div>
<script>
    $(document).ready(function ()
    {
        $("#searchString").keyup(function ()
        {
            var datasearch = $(this).val().toLowerCase();
            $(".carList").each(function () {
                if ($(this).find(".searchField").text().toLowerCase().indexOf(datasearch)<0)
                {
                    $(this).hide();
                }
                else
                {
                    $(this).show();
                }
            });
        });
    });
 </script>

@foreach (var car in Model)
{
    <partial name="CarSummaryList" for="@car" />
}

