
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WorkWithData</title>
</head>
<body>
    <h1>Work With Data</h1>
    <form enctype="multipart/form-data" asp-action="UploadFile" method="post">
       <input type="file" name="file" />
       <button type="submit">Upload File</button>
    </form>
</body>
</html>
