@model IEnumerable<Manufacturer>


<h1>Index</h1>

<h2>Hello</h2>

<div id="div1"></div>

@*<script>
    $(document).ready(function () {

        //alert("Hello");

        var newElems = $("<p>Hello from jQuery</p>");
        var newElems2 = document.createElement("p");
        newElems2.innerHTML = "Hello from JQuery 2";

        $("#div1").append(newElems);
        $("#div1").append(newElems2);
    });
</script>*@

<component type="typeof(KernelCars.Components.CarModelSelect)" render-mode="ServerPrerendered" 
           param-Manufacturers= "ViewBag.Manufacturers" />