@page "/insurance"
@page "/insurance/list"
<h4 class="bg-primary text-white text-center p-2">Работа со страховками</h4>
<h5 class="bg-danger text-white text-center p-2">В разработке</h5>

@*<div class="text-center mb-3">
    <NavLink class="btn btn-secondary" ref="">Back</NavLink>
</div>*@






@code {

}
