@page "/pages/blazor"

<h4 class="bg-primary text-white text-center p-2">Events</h4>
@*<component type="typeof(KernelCars.Blazor.Events)" render-mode="Server" />*@

<component type="typeof(KernelCars.Blazor.Cars.CarsList)" render-mode="Server" />

@*<component type="typeof(KernelCars.Blazor.Bindings)" render-mode="Server"/>*@