@page "/forms/edit/{id:long}"
@page "/forms/create"
@layout EmptyLayout
@inherits OwningComponentBase<DataContext>

@*<h4 class="bg-primary text-center text-white p-2">Edit</h4>*@
<h4 class="bg-@Theme text-center text-white p-2">@Mode</h4>

<FormSpy CarData="CarData">
    <EditForm Model="CarData" OnSubmit="HandleValidSubmit">
        @*<h4 class="text-center">Form Placeholder</h4>*@
        @if (Mode=="Edit")
        {
            <div class="form-group">
                <label>Person ID</label>
                <InputNumber class="form-control"
                             @bind-Value="CarData.Id" readonly />
            </div>
        }
        <div class="form-group">
            <label>Гос.номер</label>
            <InputText class="form-control" @bind-Value="CarData.RegistrationNumber" />
        </div>
        <div class="form-group">
            <label>Объём двигателя</label>
            <InputNumber class="form-control" @bind-Value="CarData.EngineCapacity" />
        </div>
        <div class="text-center">
            <NavLink class="btn btn-secondary" href="/forms">Back</NavLink>
        </div>
        <div class="form-group">
            @*<InputSelect @bind-Value="Manufacturer">
                <option value="">Select classification ...</option>
                <option value="Exploration">Exploration</option>
                <option value="Diplomacy">Diplomacy</option>
                <option value="Defense">Defense</option>
            </InputSelect>*@
        </div>
        <div class="form-group">
            <label>Dept ID</label>
            <CustomSelect TValue="int" Values="CarModels"
                          Parser="@(str => int.Parse(str))"
                          @bind-Value="CarData.CarModelId">
                <option selected disabled value="0">Choose a Department</option>
            </CustomSelect>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <NavLink class="btn btn-secondary" href="/forms">Back</NavLink>
        </div>
    </EditForm>
</FormSpy>
@code {

    [Inject]
    public NavigationManager NavManager { get; set; }

    //[Inject]
    DataContext Context => Service;// { get; set; }

    [Parameter]
    public long Id { get; set; }

    public Car CarData { get; set; } = new Car();

    public IEnumerable<Manufacturer> Manufacturers => Context.Manufacturers;// { get; set; }

    public IDictionary<string, int> CarModels { get; set; } = new Dictionary<string, int>();



    protected async override Task OnParametersSetAsync()
    {
        if (Mode=="Edit")
        {
            CarData = await Context.Cars.FindAsync(Id);
        }

        CarModels = await Context.CarModels.ToDictionaryAsync(d => d.Model, d => d.CarModelId);
    }

    public string Theme => Id == 0 ? "primary" : "warning";
    public string Mode => Id == 0 ? "Create" : "Edit";

    public async Task HandleValidSubmit()
    {
        if (Mode == "Create")
        {
            Context.Add(CarData);
        }
        await Context.SaveChangesAsync();
        NavManager.NavigateTo("/forms");
    }

    //public void Dispose() => Context.Entry(CarData).State = EntityState.Detached;
}